<%- include('../header') %>

<form method="POST" action="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Digite o titulo" value="<%= publicacao.titulo %>">
    </div>
    <div class="form-group">
        <label for="conteudo">Conteúdo</label>
        <textarea type="text" class="form-control" id="conteudo" name="conteudo" placeholder="Entre com o conteúdo"><%= publicacao.conteudo %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<%- include('../footer') %>