<%- include('../header') %>

<a class="btn btn-light" href="/publicacoes/nova">Nova Publicação</a><br>

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Publicacões</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
    <% publicacoes.forEach(publicacao => { %>
      <tr>
        <td><%= publicacao.titulo %></th>
        <td>
          <a href="/publicacoes/editar/<%= categoria %>/<%= publicacao.id %>">Editar</a>
          <a href="/publicacoes/excluir/<%= categoria %>/<%= publicacao.id %>">Excluir</a><br>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </table>

<%- include('../footer') %>